@model DiaryEntry

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2>Create Diary Entry</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" class="form-control" placeholder="Enter a Title" />
                            <span asp-validation-for="Title" class="text-dark"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Content" class="form-label"></label>
                            <input asp-for="Content" class="form-control" row="5" placeholder="Enter what you did that day" />
                            <span asp-validation-for="Content" class="text-dark"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Created" class="form-label"></label>
                            <input asp-for="Created" class="form-control" row="5" placeholder="Enter a Date" type="date" />
                            <span asp-validation-for="Created" class="text-dark"></span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-controller="DiaryEntries" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@* client side validation *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}